<%- include("partials/header"); -%>
<div id="container">
  
<form action="/logout" method="GET" accept-charset="utf-8">
                      <button class="btn btn-filled" type="submit">Logout</button>
            </form>
            
            <div class="footer">
              <p>Copyright @zidio.com. All rights reserved.</p>
            </div>
</div>

            
<%- include("partials/footer"); -%>