<%- include("partials/header"); -%>
<div class="animation">
  
</div>
<div id="container-signup">
  <section id="register">
        
        <h1>Sign up,</h1>
                <p class="muted-paragraph">Create an account with us to register</p>
                <div class="loader-container">
                  <div class="loader"></div>
                </div>
          <div class="register-container">
                  <form action="/signup" method="POST" accept-charset="utf-8">
                      <input placeholder="email" type="text" name="username" id="" value="" />
                      <input placeholder="password" type="password" name="password" id="" value="" />
                      <button class="btn btn-filled" type="submit">Sign up</button>
                  </form>
                  <p class="sign-up">Already have an account? <a href="/" class="colored">Login</a></p>
            </div>
            
           <div class="footer">
              <p>Copyright @zidio.com. All rights reserved.</p>
            </div>
              
        
      </section>
</div>

      
<%- include("partials/footer"); -%>